<h2>Sign up</h2>
<% @user.build_profile() %>
<div class="row">
  <div class="span6 offset3">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.fields_for :profile, @user.profile do |profile_form| %>
      <%= profile_form.label :first_name %>
      <%= profile_form.text_field :first_name %>

      <%= profile_form.label :last_name %>
      <%= profile_form.text_field :last_name %>

      <%= profile_form.label :nickname %>
      <%= profile_form.text_field :nickname %>  

      <%= profile_form.file_field :avatar %>    
  <% end %>

  <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
